
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

body {
  color: #424242;
  font-family: Verdana,"Georgia","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 1.0em;
  line-height: 1.8;
  background: #FFFFFF;
  background-image: url("http://cre8ivethought.s3.amazonaws.com/images/layout/background.jpg");
  background-attachment: repeat;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #2a1911;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  color: #424242;
  margin: 0px 0px 0px -65px;
  padding-bottom: 0px;
  font-weight: 600;
  font-size: 1.2em;
  background: url("http://cre8ivethought.s3.amazonaws.com/images/layout/h1.png") no-repeat -12px 10px;
  text-indent: 63px;
}

#dsq-content h1, #dsq-content h2, #dsq-content h3, #dsq-content h4 {
  color: #424242;
  margin: 0px 0px 0px -65px;
  padding-bottom: 0px;
  font-weight: 600;
  font-size: 1.2em;
  background: url("http://cre8ivethought.s3.amazonaws.com/images/layout/h0.png") no-repeat -12px 10px;
  text-indent: 63px;
}

#dsq-content- h1, #dsq-content- h2, #dsq-content- h3, #dsq-content- h4 {
  color: #424242;
  margin: 0px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 1.1em;
  background: url("");
  text-indent: 0px;
}

#dsq-content .comments_link {
  color: #bbbbbb;
  text-decoration: none;
}

#dsq-content .comments_link:hover {
  color: #bbbbbb;
  text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a {
  color: #424242;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #2a1911;
  text-decoration: none;
}

h2 {
  background: url("http://cre8ivethought.s3.amazonaws.com/images/layout/h2.png") no-repeat -12px 10px;
}

h3 {
  background: url("http://cre8ivethought.s3.amazonaws.com/images/layout/h3.png") no-repeat -12px 10px;
}

h4 {
  background: url("http://cre8ivethought.s3.amazonaws.com/images/layout/h4.png") no-repeat -12px 10px;
}

P {
  text-align: justify;
  font-size: 1.1em;
  padding: 0px 0px 30px 0px;
}

ul, ol {
  margin-top: 0px;
  margin-bottom: 20px;
}

sup {
  text-align: justify;
  font-size: 0.8em;
  padding: 0px 0px 30px 0px;
}

center {
  padding: 0px 0px 30px 0px;
}

.gist {
  line-height: 1.1em;
  background: #FFFFFF;
  background-image: url("http://cre8ivethought.s3.amazonaws.com/images/layout/background.jpg");
  background-attachment: repeat;
}

.date_list {
  font-style: italic;
  float: right;
  margin-right: 0px;
  color: #bbbbbb;
}

.date_post {
  position: relative;
  font-style: italic;
  float: left;
  top: -15px;
  left: 0px;
  color: #bbbbbb;
  margin: 0px;
}

.archive_info {
  position: relative;
  top: -10px;
  font-style: italic;
  font-size: 75%;
  color: #bbbbbb;
}

#license {
  text-align: left;
  font-style: italic;
  font-size: 0.9em;
  color: #888;
  padding: 0px 0px 10px 0px;
}

#spacer {
  height: 60px;
}

#outer-content {
  position: relative;
  float: right;
  padding: 40px 320px 0px 20px;
  max-width: 600px;
}

#content {
  position: relative;
}

.nobullets ul {
  position: relative;
  list-style-type: none;
}

.nobullets ul, .nobullets ol {
  margin: 0;
  margin-bottom: 20px;
}

.nobullets li {
  list-style-image: none;
  list-style-type: none;
}

#profile-picture-1 {
  background-image: url("http://cre8ivethought.s3.amazonaws.com/images/layout/profile-picture.png");
  background-position: right bottom;
  top: 20px;
  left: 10px;
  width: 222px;
  height: 260px;
  position: absolute;
  z-index: 600;
}

#profile-picture-about-1 {
  background-image: url("http://cre8ivethought.s3.amazonaws.com/images/layout/profile-picture-about.png");
  background-position: left bottom;
  top: 15px;
  left: 42px;
  width: 222px;
  height: 260px;
  position: relative;
  z-index: 300;
  float: right;
}

#header {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  z-index: 400;
  background-image: url("http://cre8ivethought.s3.amazonaws.com/images/layout/frame-top.png");
  background-repeat: repeat;
}

#footer {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 400;
  bottom: 0px;
  left: 0px;
  background: url("http://cre8ivethought.s3.amazonaws.com/images/layout/frame-bottom.png") repeat;
}

#footer #stats {
  color: gray;
  font-size: 0.8em;
  float: right;
  padding: 28px 0px 0px 0px;
}

#footer #stats ul {
  position: relative;
  list-style-type: disc;
}

#footer #stats ul, #footer #stats ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

#footer #stats li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-top: 00px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

#menu {
  border: 0 none;
  display: inline-block;
  float: right;
  margin: 5px 0px 0px 0px;
  outline: 0 none;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 500;
  height: 60px;
}

#menu ul {
  position: relative;
  list-style-type: disc;
}

#menu ul, #menu ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

#menu li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

#keywords {
  border: 0 none;
  display: block;
  margin: 0px 0px 0px 0px;
  outline: 0 none;
  overflow: hidden;
  padding: 0;
  position: relative;
}

#keywords ul {
  position: relative;
  list-style-type: disc;
}

#keywords ul, #keywords ol {
}

#keywords li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 10px;
  white-space: nowrap;
}
