<!DOCTYPE html>
<html>
  <head>
    <title>Cre8ive Thought</title>
    <META NAME="Author" CONTENT="Mark Nijhof, mark.nijhof@cre8ivethought.com">
    <META NAME="Keywords" CONTENT="{{#keywords}}{{.}},{{/keywords}}">
  	<META NAME="Description" CONTENT="{{description}}">

    
    <link href='/stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/print.css' media='print' rel='stylesheet' type='text/css'>
    <!--[if lt IE 8]>
      <link href='/stylesheets/ie.css' media='screen, projectio' rel='stylesheet' type='text/css'>
    <![endif]-->
    <link href='http://cre8ivethought.s3.amazonaws.com/images/favicon.png' rel='icon' type='image/png'>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script>

    {{#show_css}}
      <style type='text/css'>
        {{css}}
      </style>
    {{/show_css}}
  </head>
  <body>
    <header>
      <div id='header'>
        <nav>
          <div id='menu'>
            <ul>
              <li>
                <a href='/blog/index'>Home</a>
              </li>
              <li>
                <a href='http://ls4d.com'>LS4D</a>
              </li>
              <li>
                <a href='http://feed.cre8ivethought.com/cre8ivethought'>RSS</a>
              </li>
              <li>
                <a href='#About'>About</a>
              </li>
              <li>
                <a href='http://twitter.com/MarkNijhof'>Twitter</a>
              </li>
              <li>
                <a href='/'>Website</a>
              </li>
            </ul>
          </div>
        </nav>
        <div id='profile-picture'></div>
        <br/>
        <br/>
        <br/>
        <br/><br/>
      </div>
    </header>

    <div id='outer-content'>
      <div id='spacer'></div>
  		<div id='content'>
        <article>
          <div class='date_post'>{{date}}{{#show_updated_date}} ( last updated on {{updated}}){{/show_updated_date}}</div>
          <br />
          <div class='date_post'>Have you seen my latest project: <a href='http://ls4d.com'>LS4D</a>?</div>
          <br />
          <h1>{{title}}</h1>
      	  {{{content}}}
    	    <div id='keywords'>
      		  <ul>
      		  	<li>Keywords:</li> 
      		  {{#keywords}}
      		  	<li><b>"{{.}}"</b></li>
      		  {{/keywords}}
      		  </ul>
          </div>
        </article>
      </div>
  		<div id='content'>
        <div id="inqob_job_postings"></div>
        <br/>
        <br/>
      </div>
  		<div id='content'>
        {{#show_disqus}}
          <div class='comments'>
            <div id='disqus_thread'>
              <script type='text/javascript'>
                var disqus_url = '{{url}}{{#add_trailing_slash_for_disqus}}/{{/add_trailing_slash_for_disqus}}';
                var disqus_skip_auth = true;
              </script>
            </div>
            <script src='http://disqus.com/forums/{{disqus}}/embed.js' type='text/javascript'></script>
          </div>
      		<br>
          <br>
        {{/show_disqus}}
      </div>

  		<div id='content'>
        <footer>
          <section>
            <a name='About'></a>
            <br>
            <br>
            <br>
            <div id='about'>
              <h3>
                About me
              </h3>
              <div id='profile-picture-about'></div>
              <p>
                Hi, my name is Mark Nijhof and I am using this space to express my own "creative" thoughts about software development and other things that interest me. If you have any questions then please don't hesitate to contact me:
                <br>
                <br>
                E-mail: Mark.Nijhof (@) Cre8iveThought.com
                <br>
                Phone: 0049 151 11 34 21 81
                <br>
                Twitter:
                <a href='http://twitter.com/MarkNijhof'>@MarkNijhof</a>
              </p>
            </div>
          </section>
          <br>
          <br>
          <section>
            <div id='license'>
              <a href='http://creativecommons.org/licenses/by/3.0/' rel='license'>
                <img alt='Creative Commons License' src='http://i.creativecommons.org/l/by/3.0/88x31.png' style='border-width: 0pt;'>
              </a>
              <br>
              This work is licensed under a <a href='http://creativecommons.org/licenses/by/3.0/' rel='license'>Creative Commons Attribution 3.0 Unported License</a>.
            </div>
          </section>
          <br>
          <br>
          <br>
          <br>
        </footer>
      </div>
    </div>
    <div id='footer'>
      {{#show_stats}}
      <div id='stats'>
        <ul>
          <li>{{words}} Words</li>
          <li>{{characters}} Characters</li>
          <li>{{readingTime}} Reading Time</li>
        </ul>
      </div>
      {{/show_stats}}
    </div>    
    <script type="text/javascript" charset="utf-8">
      var __inqob_settings = {
        email_address:  'vasco.alvesduarte@gmail.com',
        token:          '',
        items: [{
          price: 0,
          keyword: 'cre8ivethought'
        }]
      };

      (function(is) {
        var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
        var src = (document.location.protocol == 'https:' ? 'https://' : 'http://') + 'inqob.com/get/script';
        var q = [];
        q.push('?t='+ new Date().getTime()); 
        q.push('token=' + is.token); 
        q.push('email_address=' + is.email_address); 
        q.push('href=' + encodeURIComponent(window.location.href));
        sc.src = src + q.join('&');
        var s = document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(sc, s);
      })(__inqob_settings);      
    </script>
    <script type='text/javascript'>
      //<![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      //]]>
    </script>
    <script type='text/javascript'>
      //<![CDATA[
        try {
          var pageTracker = _gat._getTracker("UA-116586-8");
          pageTracker._setDomainName(".cre8ivethought.com");
          pageTracker._trackPageview();
        } catch(err) {}
      //]]>
    </script>
  </body>
</html>
