<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="Content-Language" content="en">

    <title>
      Leanpub: Publish Early, Publish Often
    </title>

    <link href="http://ls4d.com/stylesheets/leanpub-embed.css" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://use.typekit.com/ikd7cdx.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


      </head>

  <body id="bundles-embed">
    <div class="external-embed">
      <section itemscope class="bundle" >
  <div class="bundle-contents" style="height: 260px;">
    <div class="bundle-info">
      <hgroup>
        <h3 class="name" >
          <a href="https://leanpub.com/b/leanstartupfordevelopers" target="_top">Lean Startup for Developers</a>
        </h3>

        <h4 class="price"> 
          2 books for
          <span style="text-decoration: line-through;">
            $39.98
          </span>
          <big>
            $24.99!
          </big>
        </h4>
      </hgroup>
    </div>
    <div class="cms-content" style="padding-top: 5px;">
        <article itemscope itemtype="http://schema.org/Book" id="book0" class="book">
          <a href="https://leanpub.com/b/leanstartupfordevelopers" class="cover_image" target="_top"><img alt="Small?1362174099" height="180" itemprop="image" src="https://s3.amazonaws.com/titlepages.leanpub.com/leanstartupfordevelopers-business/small?1362174099" width="120" /></a>
          <a href="https://leanpub.com/b/leanstartupfordevelopers" class="cover_image" target="_top"><img alt="Small?1362174078" height="180" itemprop="image" src="https://s3.amazonaws.com/titlepages.leanpub.com/leanstartupfordevelopers-technical/small?1362174078" width="120" /></a>
          <div class="book-info">
            <hgroup>
              <h4 class="title" temprop="name">
                <a href="https://leanpub.com/b/leanstartupfordevelopers" target="_top">Lean Startup for Developers</a>
              </h4>
            </hgroup>

            <p class="authors">
              by <a href="https://leanpub.com/u/MarkNijhof" target="_top">Mark Nijhof</a>
            </p>
          </div>
        </article>
    </div>
  </div>

  <form accept-charset="UTF-8" action="https://leanpub.com/bundle_purchases" itemprop="offers" itemref="bundle_83_pricing" itemscope="true" itemtype="Offer" method="post" target="_top"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="OCAdHtL9oDjBk8NXaIOe9Rja/YwpUkG8KkXJ+ES83GQ=" /></div>
    <meta itemprop="availability" content="in_stock">
    <meta itemprop="priceCurrency" content="USD">

    <input id="bundle_id" name="bundle_id" type="hidden" value="83" />

    <div class="buttons">
      <a href="https://leanpub.com/b/leanstartupfordevelopers" class="btn learn_more" target="_top">Learn more</a>

      <div class="buy_button">
        <button class="btn btn-success" id="buy-now-button" name="button" type="submit">Buy bundle <span class="price" itemprop="price">($24.99)</span></button>
      </div>
    </div>
</form>
  <meta itemprop="publisher" content="Leanpub">
</section>


    </div>

  </body>
</html>
